.git
.gitignore
.env
.env.*.php
.env.backup
.env.example
.env.*.backup
.phpunit.result.cache
.DS_Store
Thumbs.db
*.log
*.swp
*.swo
*~
.vscode
.idea
*.pem
node_modules
dist
public/hot
storage/logs/*
storage/app/uploads/*
bootstrap/cache/*
vendor
tests
.github
README.md
docker-compose.yml
Dockerfile
.dockerignore
.editorconfig
.gitattributes
